div {
    box-sizing: border-box;
}

.logos {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 0;
    padding: 0;
}

.logo-home {
    width: 20%;
    text-align: center;
}

.home {
    width: inherit;
    cursor: pointer;
}

.more {
    display: none;
}

.logos > div {
    width: 60px;
}

.navbar-container {
    color: #0B090A;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 75%;
}

.navbar-content {
    display: inline;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .logos {
        width: 100%;
    }

    .logo-more {
        width: 5%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .logo-home {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .more {
        display: inline;
        width: 24px;
        height: 24px;
    }

    .home {
        height: 80px;
        width: 80px;
    }

    .navbar-list {
        display: none;
    }

    .navbar-container {
        height: 80px;
    }
}