div {
    color: #0B090A;
    border-radius: 25px;
    box-sizing: border-box;
}

.main-logo {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0;
    padding: 0;
}

.main-logo img {
    width: 60px;
}

.navbar-container {
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 5px 25px -15px rgba(0,0,0,0.46); */
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 75%;
}

li {
    display: inline;
    /* width: 20%; */
}

li:hover {
    text-decoration: underline;
}